.pagination-container {
    display: flex;
    justify-content: center;
}

.pagination-container div {
    margin: 10px;
    align-self: center;
}

.current-page .page-item{
    text-decoration: underline;
}

.pagination-container div.render-pages .page-item{
    padding: 0px 20px;
    width: 10%;
    height: 30px;
    margin: 0px;
}

.hidden {
    visibility: hidden;
}